.App {
  text-align: center;
  background-color:lightgray;
  background: linear-gradient(90deg, rgb(59, 59, 59) 0%, rgb(44, 182, 242) 100%);
}

body {
  background: linear-gradient(90deg, rgb(48, 47, 47) 0%, rgb(62, 195, 252) 100%);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  }

.form.input {
  width: 300px;
  height: 60px;
  font-size: 20px;
  padding-left: 10px;
  margin: 10px;
  }
  .phoneInput{
    width: 350px;
  }
  
  .PhoneInputInput {
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-color: rgb(10, 10, 10);
  
  }

  

  