@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
	font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  background-color:whitesmoke;
  }

.card-body {
  background-color:whitesmoke;
}

.disclaimer {
	color: #a6a6a6;
	font-size: 0.8em;
  line-height: 1;  
}

.disclaimer p small{
	font-size: 14px !important;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  }

.form.input {
  width: 300px;
  height: 60px;
  font-size: 20px;
  padding-left: 10px;
  margin: 10px;
  }

  .h {
    float: right;
  }
 
  header{
    background-color:#101F4A;
    padding: 70px 0px 70px 0px; 
    height: 100px;
  }
  
  .heading-1 {
    background-color:#101F4A;      
    }
    
  .info__title{    
    font-size: 25px;
    border-left: 8px solid var(--bs-secondary);
    padding: 12px 35px 12px 35px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .list {
    content: "✔";
    color: #F69F14;
    font-size: 21px;
    padding-right: 5px;
  }
    

  .orange{
    color : #F69F14;
  }

  .phoneInput{
    width: 350px;
  }
  
  .PhoneInputInput {
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-color: rgb(10, 10, 10);  
  }

  .right {
    float: right;
  }   


  
