h1,
p {
    font-family: Lato;
}

@import "~bootstrap/dist/css/bootstrap.min.css";

.parent-component{
    border: 2px solid #60c760;
    padding: 10px;
    margin:10px;
  }

  
  .child-component{
    padding: 10px;
    margin:10px;
  }
 